/* Calculator App Styles (CSS) */

/* Css Variables */
:root {
  --mainWhite: #ffffff;
  --lightBlack: #111111de;
  --darkBlack: #00000073;
  --darkGray: #ffffff28;
  --lightGray: #ffffff5b;
  --lightYellow: #cfb000;
  --darkYellow: #8f7900;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background: var(--lightBlack);
  background-blend-mode: normal, color-burn;
  position: relative;
  overflow: hidden;
}

/*? Calculator Container */
#calculator {
  width: 450px;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: var(--lightBlack);
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 10px var(--lightBlack);
  box-shadow: 2px 2px 10px var(--lightBlack);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
  overflow: hidden;
}

/*? Calculator Output Container */
#calculator #output {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  padding: 10px 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--darkBlack);
  overflow: hidden;
}
#calculator #output #input-data {
  font-size: 4em;
  color: var(--lightGray);
  overflow-x: auto;
}

#calculator #output #final-result {
  font-size: 5em;
  font-weight: 400;
  color: var(--mainWhite);
  overflow-x: auto;
}

/*? Calculator Inputs Css*/
#calculator #inputs {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  padding: 20px;
  gap: 20px;
}
/*? All Row's Css*/
#calculator #inputs .row {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2em 1fr 2em 1fr 2em 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0px 20px;
}

/*? Last Row Css*/
#calculator #inputs .last-row {
  -ms-grid-columns: 2.2fr 1fr 1fr;
  grid-template-columns: 2.2fr 1fr 1fr;
}

/*? All Buttons Css */
#calculator #inputs .row button {
  text-align: center;
  font-size: 2.5em;
  font-weight: 400;
  border: none;
  outline: none;
  border-radius: 50%;
  color: var(--mainWhite);
  background: var(--darkGray);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
#calculator #inputs .row button:hover,
#calculator #inputs .row button:active {
  background: var(--lightGray);
}

/*? Zero Buttton Css*/
#calculator #inputs .last-row .zero {
  border-radius: 40px;
}

/*? Delete Buttton Css*/
#calculator #inputs .row #del {
  font-size: 3em;
  color: rgb(0, 0, 0);
  background: #ff0000;
}
#calculator #inputs .row #del:hover,
#calculator #inputs .row #del:active {
  background: #b60000;
}

/*? Top Row Buttons Css*/
#calculator #inputs .row button.act {
  background: var(--lightGray);
}
#calculator #inputs .row button.act:hover,
#calculator #inputs .row button.act:active {
  background: var(--darkGray);
}

/*? Operators Button Css*/
#calculator #inputs .row button.ope {
  background: var(--lightYellow);
}
#calculator #inputs .row button.ope:hover,
#calculator #inputs .row button.ope:active {
  background: var(--darkYellow);
}


/* ! Responsive Css Sec. */

/* ? Responsive For Tables / Laptops And Medium Screens */
@media screen and (max-width: 950px) {
  #calculator {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  #calculator #output {
    padding: 15px 30px;
  }
  #calculator #output #input-data {
    font-size: 8em;
  }
  #calculator #output #final-result {
    font-size: 9em;
  }
  #calculator #output #inputs {
    padding: 30px 50px;
    row-gap: 20px;
  }
  #calculator #inputs .row {
    /* -webkit-column-gap: 30px;
       -moz-column-gap: 30px; */
    column-gap: 30px;
  }
  #calculator #inputs .row button {
    font-size: 5em;
  }
}

/* ? Responsive For Smartphones And Smaller Screens */
@media screen and (max-width: 450px) {
  #calculator {
    width: 100%;
    height: 95%;
    border-radius: 0;
  }
  #calculator #output {
    padding: 5px 10px;
  }
  #calculator #output #input-data {
    font-size: 4em;
  }
  #calculator #output #final-result {
    font-size: 5em;
  }
  #calculator #inputs {
    padding: 20px 15px;
    row-gap: 35px;
  }
  #calculator #inputs .row {
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    padding: 0;
  }
  #calculator #inputs .row button {
    font-size: 2.5em;
  }
}